.firstbiomain{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    overflow: hidden;

}
.coverImage{
    display: flex;
    margin-top:1rem ;
    width:12rem ;
    height: 12rem;
    background-size: cover;
    border:.3rem solid rgb(180, 16, 16);
}
.fullname{
    display: flex;
    justify-content: center;
}

.fullName>h1{
    font-size: 25px;
    line-height: 21px; 
    font-weight: 700;
}

.username,.userfollower,.bottomdiv{
    justify-content: space-around;
}
.userfollower{
    margin: 10px;
    
}
.username>p,.userfollower>p>span{
    font-size: 18px;
     line-height: 21px; 
     font-weight: 400;
}
.userfollower>p{
    font-size: larger;
    font-weight: bolder;
    margin-left: 20px;
}
.buttonred>button{
    background-color: rgb(165, 16, 16);
    border: none;
    color: white;
}
.buttonred>button:hover,.buttonred>button:active{
    background-color: rgb(165, 16, 16);
    border: none;
}
.buttonred{
    align-self: center;
    justify-self: center;
}

.position>b{
    margin-right:10px;
}

.ICON{
    border-radius:50%;
     background-color:rgb(226, 212, 212);
     height:40px;
        width:40px;
        margin-bottom: 10px;
        color: gray;
        
}